body.febhome {

  h1 {
    font-size: 40px;
  }

  .home-block-reviews {

    figure {
      margin-bottom: 20px;
      padding: 20px;
      border: 1px solid white;
      border-radius: 5px;
      background-color: #93ddc6;

      blockquote {
        font-size: 13px;
        font-weight: 200;
        border: none;
        padding: 0;
      }

      footer {
        cite.author {
          display: block;
          font-style: normal;
          font-size: 1.1em;
          font-weight: bold;
        }
        cite.info {
          display: block;
          font-style: normal;
          font-size: 13px;
        }
      }
    }
  }

  .home-block-one {
    min-height: 500px;
    background-image: url('/img/home-light-bulb.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 612px 275px;
  }

  .home-block-two {
    padding-top: 60px;
    min-height: 600px;
    background-color: white;

    .image-div {
      overflow: hidden;
      position: relative;
      right: 0;

      img {
        float: right;
        height: 700px;
        width: auto;
      }
    }
  }

  ol.custom-counter {
    div.title {
      padding-left: 45px;
      line-height: 1.2em;
    }
    p {
      margin-top: 10px;
      margin-left: 45px;
    }
  }
}

@media (max-width: 769px) {
  body.febhome {
    h1 { font-size: 30px; }
    h2 { font-size: 20px; }

    .home-block-one {
      background-size: contain;
    }

    .home-block-two {
      .image-div {
        img {
          float: none;
          width: 110%;
          margin-left: -5%;
          height: auto;
        }
      }
    }
  }
}
@media (min-width: 770px) and (max-width: 991px) {
  body.febhome {
    .home-block-two {
      .image-div {
        img {
          float: none;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
