.navbar-default {
  background-color: white !important;
  border-color: white !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: white !important;
  border-color: $brand-primary !important;
}

/**
 * REPORT: Revenue
 */
.report {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #87d9bf;
  color: #7d7e7f;
  //font-family: "Avenir",Helvetica,Arial,sans-serif;

  h1 {
    color: #87d9bf;
    text-align: center;
    margin: 0 0 10px;
    font-size: 1.5em;
    text-transform: uppercase;

    .date {
      color: darken(#87d9bf, 30%);
      font-weight: bold;
    }
  }

  input {
    color: #333 !important;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #87d9bf;
  }

  table {
    thead {
      th {
        text-align: center;
      }
    }
  }

  .total-amount {
    margin: 0;
    text-align: center;
    padding: 18px;
    font-weight: bold;
    background: #f0f9f7;
    font-size: 2.5em;
    width: 250px;
    border: 1px solid #e7f0ee;
    margin: 0 auto;
    border-radius: 5px;
  }
}
